<div class="bookmarks">
    
    {{#if this.isGreen}}
        <button
            ...attributes
            type="button" 
            class="image" {{on "click" this.toggleBookmark}}>
            <small>📕</small>
        </button>
    {{else}}
        <button
            ...attributes 
            type="button" 
            class="image" {{on "click" this.toggleBookmark}}>
            <small>📗</small>
        </button>
    {{/if}}
</div>